In [1]:
import pandas as pd

In [35]:
hf = pd.read_csv('hurricane_frequency.csv')
hf.head()

   Year  Tropical Storms  Hurricanes  Major Hurricanes
0  1851                6           3                 1
1  1852                5           5                 1
2  1853                8           4                 2
3  1854                5           3                 1
4  1855                5           4                 1

In [43]:
summed_hf = hf[['Tropical Storms', 'Hurricanes', 'Major Hurricanes']].groupby((hf.Year//10)*10).sum().reset_index()
summed_hf.head()

   Year  Tropical Storms  Hurricanes  Major Hurricanes
0  1850               53          39                 9
1  1860               72          49                 4
2  1870               75          55                14
3  1880               89          63                15
4  1890               82          50                16

In [46]:
mean_hf = hf[['Tropical Storms', 'Hurricanes', 'Major Hurricanes']].groupby((hf.Year//10)*10).mean()
mean_hf

      Tropical Storms  Hurricanes  Major Hurricanes
Year
1850         5.888889    4.333333          1.000000
1860         7.200000    4.900000          0.400000
1870         7.500000    5.500000          1.400000
1880         8.900000    6.300000          1.500000
1890         8.200000    5.000000          1.600000
1900         8.400000    4.200000          1.200000
1910         6.100000    3.700000          1.400000
1920         7.100000    4.100000          1.500000
1930        11.500000    5.200000          2.200000
1940        10.400000    5.300000          1.900000
1950        11.900000    6.800000          3.200000
1960         9.500000    6.200000          2.800000
1970         9.500000    5.000000          1.600000
1980         9.300000    5.200000          1.700000
1990        11.000000    6.400000          2.500000
2000        15.100000    7.400000          3.600000
2010        15.500000    7.200000          3.000000
2020        21.666667    9.666667          4.333333

In [47]:
mean_hf.to_csv('hf_decade_avg.csv')